.alert-widget {
  height: calc(98vh - 57px);
  border: 1px solid lightgrey;
  width: 18vw;
  position: fixed;
  background: white;
  right: 0.5vw;
  animation: moveInRight 0.5s;
  top: calc(55px + 1vh);
  text-align: center;

  &--small {
    top: unset;
    bottom: 1vh;
    height: 65vh;
  }
}
