.drawer {
  position: fixed;
  // height: calc(98vh - 57px);
  // top: calc(55px + 1vh);
  height: 100vh;
  top: 0;
  width: 18vw;
  background: white;
  // border-right: 1px solid lightgrey;
  // left: 0.5vw;
  animation: moveInLeft 1s;
  box-shadow: 1px 1px 1px rgba(00, 00, 00, 0.3);

  &__header {
    background-image: linear-gradient(to right, darken(#0d98e6, 10%), #0d98e6);
    // height: 165px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4vh 2vw;

    & h2 {
      font-size: 22px;
      margin-bottom: 1vh;
    }
    & h3 {
      margin-bottom: 1vh;
    }

    // align-items: center;
    // justify-content: center;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
  }
}
