* {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  margin: 0 0;
  padding: 0 0;
}

@import "scss/base/animations";

@import "scss/components/header";
@import "scss/components/drawer";
@import "scss/components/alertwidget";
@import "scss/components/campaignchooser";
@import "scss/components/dashboard";
